/target/**

.project
.metadata

/bin/**
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib

.classpath
.settings/**
.loadpath

.cproject

.buildpath

*.idea
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig


/log/**
/target/**


.gradle/**


*.jar
*.war
*.ear
*.db
.DS_Store
.svn

/build/**
/bin/**

/deploy/**


*.log


*.class
*.*~
*~
.merge_file*


/target/

.idea
.mvn
**/target
**/out
.springBeans
.bowerrc
.settings